node_modules
.env
.env.example

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Deployment files
deployments

# IDE files
.vscode
.idea

# OS files
.DS_Store
